*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color:#604687;
color:#F6B319;
}
body{
	background-color: #389583;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#F6B319; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: rgb(46, 44, 44);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color:#F6B319;
}
.navbar-brand{
font-size: 30px;	
}